
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(90,21,82);
}


body {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#SMHeader {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(90, 21, 82);
  /*#5a1552#615indigohsl(306,62%,21%)rgb(90,21,82)*/
}

#SMlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.review-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
  
.review-head { grid-area: 1 / 1 / 2 / 2;}
.pull-quote { grid-area: 2 / 1 / 3 / 2;}
.review-pic { grid-area: 3 / 1 / 4 / 2;}
.review-head2 { grid-area: 1 / 2 / 2 / 3;}
.pull-quote2 { grid-area: 2 / 2 / 3 / 3;}
.review-pic2 { grid-area: 3 / 2 / 4 / 3;}